@charset "UTF-8";
/* CSS Document */
input, label, select {
	display: block;
	text-align: left;
	width: 27em;
}
fieldset {
	width: 300px;
	margin: 15px auto 0;
	border:1px solid #a29bc0;
	padding: 10px;
}
code *, pre * {
	font-family: monospace;
}
*{margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}
body{
	text-align: center;
}

h1 {
	width: 800px;
	margin: 0 auto 20px;
	text-align: left;
	border-bottom: 1px black solid;
}

table {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	border: 1px white solid;	
}

table thead {
	background-color: #2a2948;
	color: white;
	font-weight: bold;
}

table thead td {
	padding-left: 10px;	
}

table tbody tr.even {
	background-color: #a29bc0;
}
/* errors and notice */

#errors {
	background-color: red;	
}

#notice {
	background-color: yellow;
	text-align: left;
}
#notice p {
	margin: 0 auto;
	width: 750px;
}
#errors li {
	width: 750px;
	color: white;
	text-align: left;
	list-style: none;
	margin: 0 auto;
}

#userInfo p {
	text-align: right;
	color: white;
	padding: 3px;
}
#userInfo a {
	color: white;	
}
#userInfo a:hover {
	color: lightblue;	
}

				
/* menu */
#formWrap input, #formWrap button, #formWrap select, #formWrap textarea {
	display: inline;
	border: 1px solid black;
	padding: 2px;
	-moz-border-radius: 5px;
}
#formWrap input {
	width: 25em;
	color: #ababab;
	margin-bottom: 3px;
	margin-top: 3px;
}
#formWrap input:focus {
	color: black ;
}
#formWrap input[type="hidden"] {
	display: none;
}

#formWrap button {
	margin-top: 20px;
	margin-left: 4px;
	font: bold;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}
#formWrap label {
	width: 12em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

#formWrap select{
	width: 200px;
	margin-left: -143px;
}

#formWrap fieldset{
	width: 700px;
}

#formWrap textarea{
	width: 21em;
}
	
#formWrap {
	display:block;
	width:100%;
	height:59;
	position:relative;
	overflow:hidden;
}
	
	#menuElements, #menuElementsEn{
		display:block;
		width:832px;
		height:59px;
		position:relative;
		margin:0px auto;
		text-align:left;}
		
		#menuElements li, #menuElementsEn li {list-style:none;}
		
		#menuElements li, #menuElements a{
			height:59px; 
			display:block;
			position:absolute;
			top:0px;}
		
		#menuElementsEn li {
			float: left;
			margin: 16px 5px;
		}
		#menuElementsEn li a:hover {
			color: #2a2948;
			background-color: #a29bc0;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
			-opera-border-radius: 5px;
			border-radius: 5px;
		}
		#menuElementsEn li a {
			font-size: 12pt;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
			position:relative;
			padding: 5px 15px;
			color: white;
			top: auto;
		}
		
/*header structure*/
#headerWrap{
	background-image:url(images/bgHeader.png);
	background-position:left top;
	background-repeat:repeat;
	background-color:#0CF;
	display:block; 
	width:100%;
	height:70px;
	position:relative;}
	
	#headerContent{
		width:918px;
		display:block;
		height:100%;
		position:relative;
		margin:0px auto;}
		
		#logoVraptor {
			display:block;
			width:302px;
			height:92px;
			background-image:url(images/vraptorSprites-trans.png);
			background-position:-6px 0px;
			background-repeat:no-repeat;
			position:absolute;
			border:none;
			left:0px;
			top:0px;}
			
			#logoVraptor span {display:none;}

/*menus like langbar and menuelements menu.css*/


/*content css*/
#contentWrap{
	display:block;
	width:100%;
	height:100%;
	position:relative;
	overflow:auto;
	padding: 10px 0;
}
	
/*footer css*/

#footerWrap{
	/*background-image:url(images/footer_bg.jpg);
	background-repeat:repeat-x;
	display:block; 
	width:100%;
	height:135px;
	position:absolute;
	bottom: 0px !important;*/
	
}	

#signature { background-image:url(images/ldl-trans.png); background-repeat:no-repeat; background-position:left top; position:absolute; display:block; bottom:0px; left:10px; font-family:Georgia, "Times New Roman", Times, serif; font-size:10px; color:#FFF; padding:5px 0px 15px 30px; text-decoration:none;}
a#signature:hover{color:#C90;}

.entradaSistema{
	background-image:url(images/portal.jpg);
}